<html>
  <head>
    <title>Productos</title>
  </head>
  <body>
    <h1>Lista de Productos</h1>
    <ul>
      {{#each productos}}
        <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </body>
</html>